<h1>productos</h1>

<div>

	<h1>Real Time Products</h1>

	<div id='container'>
		<h2>Lista de Productos</h2>
		<div id='listOfProducts'>
		</div>
	</div>


<form >
    <label for="key">Atributo</label>
    <input type="text" id="key">
    <label for="valor">Cambio</label>
    <input type="text" id="value">
    <label for="idProduct">Id del producto</label>
    <input type="number" id="idProduct">
    <button type="submit" id="btn">Cambiar</button>
</form>

{{! Instanciamos socket del lado del cliente }}
<script src='socket.io/socket.io.js'></script>
<script src='js/index.js'></script>